In [1]:
import pandas as pd

In [2]:
units = pd.read_csv("/g/data/te53/ka6418/refgendev/tmp/leahwf/serviceunits/summary.csv")

In [3]:
units['serviceunits/fastq'] = units['serviceunits']/units['fastq']
units['result/fastq'] = units['result']/units['fastq']

In [4]:
units

,run,model,fastq,result,serviceunits,sex,serviceunits/fastq,result/fastq
0,run0001,clair3,427.0,511,1526.18,XX,3.574192,1.196721
1,run0002,clair3,344.7,421,1015.02,XY,2.944648,1.221352
2,run0003,deepvariant,427.0,511,2671.32,XX,6.256019,1.196721
3,run0004,deepvariant,344.7,421,2322.20,XY,6.736873,1.221352

In [ ]:
#serviceunits factor 3.6x fastq clair3 = 53640
#serviceunits factor 6.8x fastq deepvariant = 101320