In [5]:
import pandas as pd

# Load CSV
df = pd.read_csv("/g/data/te53/ka6418/tmp/SGID/filtered_data.csv")

# Ensure participantID and tubeID are strings
df["participantID"] = df["participantID"].astype(str)
df["tubeID"] = df["tubeID"].astype(str)

# Fill missing tubeID values with a placeholder (if necessary)


# Generate SGID by ranking tubeID within each participantID
df["SGID_Rank"] = df.groupby("participantID")["tubeID"].rank(method="dense").fillna(0).astype(int)
df["SGID"] = df["participantID"] + "." + df["SGID_Rank"].astype(str)

# Drop temporary rank column
#df.drop(columns=["SGID_Rank"], inplace=True)

# Save updated CSV
#df.to_csv("illumina_with_sgid.csv", index=False)

print("✅ SGID column added and saved to illumina_with_sgid.csv")

✅ SGID column added and saved to illumina_with_sgid.csv

In [7]:
duplicates = df[df.duplicated(subset=["participantID"], keep=False)]

In [10]:
duplicates.sort_values(["participantID","SGID_Rank"])

    participantID      tubeID  SGID_Rank       SGID
63        N002580  FD00825173          1  N002580.1
82        N002580  FD00825707          2  N002580.2
133       N002580  FD01116895          3  N002580.3
65        N002639  FD00825175          1  N002639.1
132       N002639  FD01116894          2  N002639.2
..            ...         ...        ...        ...
378       N008943  FR05832759          1  N008943.1
288       N008944  FR05832613          1  N008944.1
289       N008944  FR05832613          1  N008944.1
272       N008945  FR05832591          1  N008945.1
273       N008945  FR05832591          1  N008945.1

[246 rows x 4 columns]